// Colors variables
$text: #ffffff;
$accent: #f6836e;
$dark-gray-1: #444444;
$dark-gray-2: #141414;
$background: #1c1c1c;
$light-gray-1: #6b6b6b;
$light-gray-2: #a5a5a5;

$pink: #FF0080;
$orange: #FF8C00;
$cyan: #40E0D0;